<!-- Button trigger modal -->
<br>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
    Add New Server Entry
</button>
<div style="margin-right: 2%;">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-5">
                    <h1>Running Apps:</h1>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-xl-1">
                    <a href="/">
                        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-xl-12">
            <table class="table">
                <thead>
                    <tr>
                    <th style="text-align:center" scope="col">#</th>
                    <th style="text-align:center" scope="col">SocketID</th>
                    <th style="text-align:center" scope="col">Appname</th>
                    <th style="text-align:center" scope="col">Address</th>
                    <th style="text-align:center" scope="col">App type</th>
                    <th style="text-align:center" scope="col">Remote Address</th>
                    <th style="text-align:center" scope="col">Controller State</th>
                    <th style="text-align:center" scope="col">App State</th>
                    <th style="text-align:center" scope="col">Actions</th>
                    </tr>
                </thead>
                <% allClients.forEach(function(app) { %>
                <tbody>
                    <th style="text-align:center"><%= app.ID %></th>
                    <th style="text-align:center"><%= app.SocketID %></th>
                    <th style="text-align:center"><%= app.APPNAME %></th>
                    <th style="text-align:center"><a href="<%= app.ADDRESS %>" class="badge badge-success" target="_blank"><%= app.ADDRESS %></a></th>
                    <th style="text-align:center"><%= app.APPTYPE %></th>
                    <th style="text-align:center"><%= app.remoteAddr %></th>
                    <th style="text-align:center">
                        <% if(typeof app.status !== 'undefined') {%><span class="badge badge-pill badge-success">&nbsp;</span><%}%>
                        <% if(typeof app.status === 'undefined') {%><span class="badge badge-pill badge-danger">&nbsp;</span><%}%>
                    </th>
                    <th style="text-align:center" >
                        <% if (app.status == 0) {%> <span class="badge badge-pill badge-danger">&nbsp;</span><%}%>
                        <% if (app.status == 1) {%> <span class="badge badge-pill badge-warning">&nbsp;</span><%}%>
                        <% if (app.status == 2) {%> <span class="badge badge-pill badge-success">&nbsp;</span><%}%>
                    </th>
                    <th style="text-align:center" >
                        <% if (app.status == 0) {%><a href="/init?id=<%= app.SocketID %>" class="badge badge-success">Init</a><%}%>
                        <% if (app.status == 2) {%>
                            <a href="/logs?id=<%= app.SocketID %>" class="badge badge-primary">Logs</a>
                            <a href="#" class="badge badge-warning">Reload</a>
                            <a href="/quit?id=<%= app.SocketID %>" class="badge badge-danger">Shut down</a>
                        <%}%>
                    </th>
                </tbody>
                <% }); %>
            </table>
        </div>
    </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h1>Last Logs:</h1>
        </div>
        <div  class="card-body">
            <textarea style="width: 100%;color:green;background-color: black;" readonly rows="15">
                <% clientLogs.reverse().forEach(function(line) { %>
                <%= line.Appname %> - <%= line.timestamp %>: <%= line.message %>
                <% }) %>
            </textarea>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Server Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/add_project">
            <div class="modal-body">
                <div class="form-group">
                  <label for="inputHost">Application Name</label>
                  <input type="text" class="form-control" name='appname'>
                </div>
                <div class="form-group">
                  <label for="inputIP">Address</label>
                  <input type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label for="inputIP">Application</label>
                    <input type="text" class="form-control" name="apptype">
                    <small>API,Project,Bot and etc...</small>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>